.header {
  display: flex;
  align-items: center;
  &__logo {
    height: 64px;
  }
  &__title {
    font-size: 20px;
    margin-left: 24px;
  }
  &__new {
    @extend %button;
    margin-top: 0;
    width: 260px;
    margin-left: auto;
  }
  &__logout {
      height: 60px;
      width: 60px;
      border: 1px solid #dcdce6;
      border-radius: 4px;
      margin-left: 16px;
      background: transparent;
      transition: border-color 0.2s;
      &:hover { 
        border-color: #999;
        transition: border-color 0.2s;
      }
  }
}
