.incident {
    @extend %container;
  
    &__wrapper {
      width: 100%;
      padding: 96px;
      background: #f0f0f5;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &__intro {
        width: 100%;
        max-width: 380px;
  
        &__title {
          margin: 64px 0 32px;
          font-size: 32px;
        }
  
        &__text {
          font-size: 18px;
          color: #737380;
          line-height: 32px;
        }
  
        &__back {
          @extend %link;
        }
      }
      &__form {
        width: 100%;
        max-width: 450px;
  
        input {
          margin-top: 8px;
        }

        textarea {
            margin-top: 8px;
        }
  
        &__group {
          display: flex;
  
          input + input {
              margin-left: 8px;
          }
        }
  
        &__submit {
          @extend %button;
        }
      }
    }
  }
  