.logon {
  @extend %container;
  justify-content: space-between;
  
  &__container {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;

    &__form {
      margin-top: 100px;
      
      &__title {
        font-size: 32px;
        margin-bottom: 32px;
      }
      
      &__submit {
        @extend %button;
      }
      
      &__forgot {
        @extend %link;
      }
    }
  }
}
